:root {
    --azul-escuro: #15469b;
    --azul-claro: #e3efff;
    --branco: #ffffff;
    --cinza-claro: #f7f9fc;
    --cinza-texto: #444;
    --borda-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--cinza-claro);
    color: var(--cinza-texto);
}

header {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 90px;
}

header div {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

nav a {
    color: var(--branco);
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #cce0ff;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 20px;
    background-color: var(--branco);
    border-radius: var(--borda-radius);
    box-shadow: 0 8px 32px rgba(21, 70, 155, 0.25), 0 2px 8px rgba(0, 0, 0, 0.10);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--azul-escuro);
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--borda-radius);
    font-size: 1rem;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #a7c4e2;
    border: none;
    border-radius: var(--borda-radius);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.login-btn:hover {
    transform: scale(1.03);
    background-color: #92b3d5;
}

.register-link {
    margin-top: 15px;
    font-size: 0.9rem;
}

.register-link a {
    color: var(--azul-escuro);
    text-decoration: none;
    font-weight: bold;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.register-btn:hover {
    background-color: #00387d;
}


footer {
    text-align: center;
    padding: 30px;
    font-size: 14px;
    background-color: var(--branco);
    color: #666;
    margin-top: 72px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}