{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Busca Farma</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script> 
  <link rel="stylesheet" href="{% static 'css/estilosLogin.css' %}">

  <style>
    header img {
    width: 190px;
    height: auto;
    margin-top: 14px;
    margin-left: -40px;
  }
  </style>
  
</head>
<body>

<!-- Intérprete de Libras (Script do GOV BR)-->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

  <header>
    <div><img src="{% static 'images/buscafarmalogoo.png' %}"></div>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'postos' %}">Postos</a>
      <a href="{% url 'noticias' %}">Notícias</a>
      <a href="{% url 'sobre' %}">Sobre</a>
      <a href="{% url 'area_admin' %}">Área Administrativa</a> 
    </nav>
  </header>

  <br><br>
  <div class="container">
    <h2 class="text-3xl font-bold text-center my-5">SEJA BEM-VINDO!</h2>

    {% if messages %}
      {% for message in messages %}
      <div class="rounded-md {{ message.tags }} mt-4">
        <div class="flex">
        <div class="ml-3 py-4">
          {{ message }}
        </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    <br>
    <form action="{% url 'cadastro' %}" method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="nome">👤 Nome:</label>
        <input type="text" name="nome" id="nome" required>
      </div>
      <div class="input-group">
        <label for="nome">🖥️ Nome de usuário:</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div class="input-group">
        <label for="email">📧 Email:</label>
        <input type="text" name="email" id="email" required>
      </div>
      <div class="input-group">
        <label for="senha">🔒 Defina uma senha:</label>
        <input type="password" name="senha" id="senha" required>
      </div>
      <div class="input-group">
        <label for="senha">🔒 Confirmar senha:</label>
        <input type="password" name="confirmar_senha" id="confirmar_senha" required>
      </div>
      <button type="submit" class="login-btn">CADASTRAR</button>
      <div class="register-link">
      <a href="{% url 'login'%}">VOLTAR PARA LOGIN</a>
    </div>
    </form>
  </div>



  <footer style="background-color: #a7c4e2; padding: 20px;">
    <div style="text-align: center; color: white; font-weight: 500; margin-bottom: 15px;">
      <p style="margin: 0; font-size: 18px;"> <b> CONTATO </b> </p>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; gap: 40px; flex-wrap: wrap;">
      <div style="display: block;">
        <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
          <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="email" width="25px">
          <span style="color: white; font-weight: bold;">buscafarmaa@gmail.com</span>
        </div>
        <div style="display: flex; align-items: center; gap: 10px;">
          <img src="https://cdn-icons-png.flaticon.com/512/455/455705.png" alt="telefone" width="25px">
          <span style="color: white; font-weight: bold;">(19) 99690-1099 / (19) 99901-9446</span>
        </div>
      </div>
      <div>
        <img src="{% static '/images/logoAzul.png' %}" alt="Busca Farma" width="120px">
      </div>
    </div>
  </footer>

</body>
</html>
