:root {
    --azul-escuro: #15469b;
    --azul-claro: #e3efff;
    --branco: #ffffff;
    --cinza-claro: #f7f9fc;
    --cinza-texto: #444;
    --borda-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--cinza-claro);
    color: var(--cinza-texto);
}

header {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header div {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

nav a {
    color: var(--branco);
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #cce0ff;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 14px;
    background-color: var(--branco);
    color: #666;
    margin-top: 306px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}